<app-table-pagination [query]="query" [context]="context" [itemsPage]="itemsPage" [resultData]="resultData"
  [include]="include" [tableColumns]="columns" [filterActiveValues]="filterActiveValues" [title]="title"
  [mostrarImport]="mostrarImport" (manageItem)="takeAction($event)"></app-table-pagination>

<app-capture-prod (productChange)="productBack($event)" #mdCaptureProd></app-capture-prod>

<app-importar (importaChangeProduct)="importaBackProduct($event)" #mdImportProd [resultData]="resultData"></app-importar>
