.fa-check-circle {
  color: #28a745;
}

.fa-times-circle {
  color: #dc3545;
}

.centrado {
  text-align: center;
}

.numero {
  width: 10%;
  text-align: right;
}

.description {
  width: 40%;
}

.descriptionShort {
  width: 25%;
}

.id {
  width: 5%;
}

.clave {
  width: 10%;
}

.acciones {
  text-align: center;
  width: 15%;
}

.img-thumbnail {
  max-width: 30%;
  max-height: 30%;
  text-align: center;
}
