<app-table-pagination [query]="query" [context]="context" [itemsPage]="itemsPage" [resultData]="resultData"
  [include]="include" [tableColumns]="columns" [filterActiveValues]="filterActiveValues" [title]="title"
  [mostrarImport]="mostrarImport" (manageItem)="takeAction($event)"></app-table-pagination>

<app-capture-cat (catalogChange)="catalogBack($event)" #mdCaptureCat></app-capture-cat>

<app-importar (importaChange)="importaBack($event)" #mdImportCat [resultData]="resultData"></app-importar>
